.textobannerinicial {
    font-family: 'Poppins';
    text-align: center;
    line-height: 15px;
    position: relative;
    top: 120px;
}
.page {
    background-color: rgb(12, 12, 12);
    size: 100vh;
}
h1.textobannerinicial {
    font-weight: bolder;
    font-size: 48px;
}

h3.textobannerinicial {
    font-weight: 400;
}

.botoes_sup {
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 20px;
    background-color: #141414;
    width: 100%;
}

.botoes_sup_text {
    padding-inline: 10px;
    padding-top: 4px;
    margin: 5px;
    padding-bottom: 4px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #230046, #340267);
    border-radius: 35px;
    font-family: 'Metrophobic';
    transition: 0.3s;
}

.botoes_sup_text_ini {
    padding-inline: 20px;
    padding-top: 4px;
    margin: 5px;
    padding-bottom: 4px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #230046, #340267);
    border-radius: 35px;
    font-family: 'Metrophobic';
    transition: 0.3s;
}

.botoes_sup_text:hover {
    background-image: linear-gradient(to bottom right, #230046, #340267);
    box-shadow: 0px 0px 3px 3px rgb(100, 13, 187);
}

.botoes_sup_text_ini:hover {
    background-image: linear-gradient(to bottom right, #230046, #340267);
    box-shadow: 0px 0px 3px 3px rgb(100, 13, 187);
}

.botao_flutuante {
    position: fixed;
    bottom: 11px;
    right: 15px;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #282828;
    border-radius: 50%;
    padding: 2px;
    z-index: 1;
    transition: 0.3s;
}

.botao_flutuante:hover {
    box-shadow: 0px 0px 3px 3px rgb(100, 13, 187);

}

#bannerinicial {
}

body {
    font-family: 'Poppins';
}

div.sobremim {
    position: relative;
    top: 300px;
    height: 550px;
    background-color: #141414;
    padding: 20px;
}

h2.sobremim_bio {
    position: absolute;
    font-size: 30px;
    text-align: left;
    width: 500px;
    margin-left: 223px;
    top: 10%;
}

p.sobremim_bio {
    position: absolute;
    font-size:16px;
    font-family: 'Metrophobic';
    width: 500px;
    margin-left: 225px;
}

.sobremim_bio {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

img.sobremim_bio {
    max-height: 450px;
    min-height: 150px;
    border-radius: 35px;
    position: absolute;
    margin-left: -225px;
    display: block;
    transition: 0.3s;
}


.normal_inicial {
    position: relative;
    height: 500px;
    width: 100vh;
    top: 800px;
}

.textobannermateria {
    font-family: 'Poppins';
    text-align: center;
    line-height: 15px;
    position: relative;
    top: 120px;
}
h1.textobannermateria {
    font-weight: bolder;
    font-size: 48px;
}

h3.textobannermateria {
    font-weight: 400;
}

.embaixoinicial_div {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 1400px;
    left: 50%;
}

.portfolio_2024 {
    transform: translate(-85%, -50%);
    position: absolute;
    background-color: #141414;
}

h2.portfolio_2024 {
    top: -200px;
    text-align: center;
}

img.portfolio_2024 {
    height: 200px;
    
}